@model Tatakae.Models.Cours
<script>
    tinymce.init({
        selector: '#description',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>

    <h2>Update Course</h2>
    <div class="contact_form_container">
        @ViewBag.msg
        @TempData["msg"]
        <h2>Update Course</h2>
        <form id="contact_form" class="contact_form" method="post">
            <div><input type="text" class="contact_input" placeholder="Course Name" required="required" name="coursename" value="@Model.CoursesName" /></div>

            <div><textarea class="contact_input" placeholder="Description" required="required" name="description" id="description">@Model.Description</textarea></div>
            <div><input type="text" class="contact_input" placeholder="Duration" required="required" name="duration" value="@Model.Duration" /></div>
            <div><input type="text" class="contact_input" placeholder="Price" required="required" name="price" value="@Model.Price"/></div>
            <button class="contact_button"><span>Update</span><span class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
        </form>
    </div>
   

